# Node.js modules
#-----------------------------------
node_modules/

# IDE and editor configs
#-----------------------------------
.idea/
.vscode/
*.code-workspace

# Cache files
#-----------------------------------
.eslintcache
